html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
     line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
	    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	  content: '';
	  content: none;
}
table {
      border-collapse: collapse;
      border-spacing: 0;
}



/* Where the reset ends*/

@media (max-width: 699px){
    html{
        height: 100vh;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        height: 100%;
    }
    #root{
        height: 100%;
    }
    .DOM{
        height: 100%;
    }

    .DOM-R{
        height: 100%;
    }


    .input-boxes-review{
        display: flex;
        padding-top: 5%;
        flex-direction: column;
        justify-content: space-evenly;
        height: 60%;
        width: 100%;
    }

    .box-r{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 40%;
        justify-content: space-between;
        font-size: 20px;
        box-shadow: 0 0 10px #719ECE;
        align-self: center;
        
    }

    #box-two-review{
        height: 20%;
    }
    
   #next-button{
    background-color: rgb(95, 189, 143);
    color: white;
    border-radius: 5px;
    font-family: helvetica;

    
    font-size: 17px; 
        
    }

    #addButton{
        
        background-color: #606B9B;
        color: white;
        border-radius: 3px;
        font-size: 10px; 
        font-family: helvetica;

    }


    #root{
        min-height: 100%;
    }

    .top{

        padding-top: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: space-evenly;
        width: 100%;
        height: 10%;
        
        
    }

    .buttonWrap{
        padding-left: 5%;
        width: 30%;
    }


    #startButton{
        
        background-color: #606B9B;
        color: white;
        border-radius: 3px;
        font-size: 10px; 
        font-family: helvetica;

    }

    #title{
        width: 50%;
        font-size: 30px;
        padding-left: 3%;
        font-family: 'Raleway', sans-serif;
        color: #606B9B;
    }
    .input-boxes{

        padding-top: 5%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .box{
        align-self: center;
        height: 40%;
        width: 80%;
        font-size: 20px;
        box-shadow: 0 0 10px #719ECE;
    }
    ::placeholder{
        text-align: center;
        font-size: 30px;
    }

    .lower-button{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;

    }
    .lower-button-class{
        padding-left: 75%;
        padding-top: 15%;
        align-self: flex-end;

    }

    #save-button{
        background-color: rgb(95, 189, 143);
        color: white;
        border-radius: 5px;
        font-family: helvetica;
    
        
        font-size: 17px; 
    }



    .footer{

        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        background-color: #606B9B;
        color: white;
        justify-content: center;
        align-content: center;
        height: 5%;
        width: 100%;
        font-size: 17px;
        font-family: helvetica;
    

        


    }
    .footer-item{

        align-self: center;
    }

}

@media (min-width: 700px) and (max-width: 1024px){
    html{
        height: 100vh;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        height: 100%;
    }
    #root{
        height: 100%;
    }
    .DOM{
        height: 100%;
    }

    .DOM-R{
        height: 100%;
    }


    .input-boxes-review{
        display: flex;
        padding-top: 5%;
        flex-direction: column;
        justify-content: space-evenly;
        height: 60%;
        width: 100%;
    }


    .box-r{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 45%;
        justify-content: space-between;
        font-size: 20px;
        box-shadow: 0 0 10px #719ECE;
        align-self: center;
        
    }

    #box-two-review{
        height: 20%;
    }
    
   #next-button{
        background-color: rgb(95, 189, 143);
        color: white;
        border-radius: 5px; 
        font-size: 25px; 
        font-family: helvetica;
        
        
    }



    .top{
        padding-top: 8%;
        padding-left: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .buttonWrap{
        padding-left: 3%;
        width: 30%;
    }
    #startButton{
        
        background-color: #606B9B;
        color: white;
        border-radius: 5px;
        font-size: 25px; 
        align-self: flex-start;
        font-family: helvetica;

    }

    #addButton{
        
        background-color: #606B9B;
        color: white;
        border-radius: 5px;
        font-size: 25px; 
        align-self: flex-start;
        font-family: helvetica;

    }


    #title{
        width: 30%;
        font-size: 70px;
      
        align-self: center;
        align-self: center;

        font-family: 'Raleway', sans-serif;
        color: #606B9B;
    }

    .input-boxes{

        padding-top: 15%;
        height: 40%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .box{
        height: 100%;
        width: 40%;
        font-size: 20px;
        box-shadow: 0 0 10px #719ECE;
    }

    ::placeholder{

        text-align: center;
        font-size: 20px;
        font-family: helvetica;
        font-size: 30px;
        
    }

    .lower-button{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;

    }

    .lower-button-class{
        padding-left: 82%;
        padding-top: 14%;
        align-self: flex-end;

    }

    #save-button{
        background-color: rgb(95, 189, 143);
        color: white;
        border-radius: 5px; 
        font-size: 25px; 
        font-family: helvetica;
        
    }

    .footer{

        position: absolute;
        bottom: 0;

        display: flex;
        flex-direction: row;
        background-color: #606B9B;
        color: white;
        justify-content: center;
        align-content: center;
        height: 5%;
        width: 100%;
        font-size: 25px;
        font-family: helvetica;
        flex: 1 1 auto;
    }
    .footer-item{

        align-self: center;
    }

}

@media (min-width: 1025px){

    html{
        height: 100vh;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        height: 100%;
    }

    #root{
        height: 100%;
    }
    .DOM{
        height: 100%;
    }

    .DOM-R{
        height: 100%;
    }

    .input-boxes-review{
        display: flex;
        padding-top: 5%;
        flex-direction: column;
        justify-content: space-evenly;
        height: 40%;
        width: 100%;
    }

    .box-r{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 40%;
        justify-content: space-between;
        font-size: 20px;
        box-shadow: 0 0 10px #719ECE;
        align-self: center;
        
    }


   
    .top{

        padding-top: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: space-evenly;
        width: 100%;
        height: 10%;
        
        
    }

    #title{
        width: 50%;
        font-size: 70px;
        align-self: center;
        font-family: 'Raleway', sans-serif;
        color: #606B9B;
    }

    .buttonWrap{
        padding-left: 5%;
        width: 30%;
    }


    #startButton{
        
        background-color: #606B9B;
        color: white;
        border-radius: 5px;
        font-size: 25px; 
        font-family: helvetica;

    }
    #addButton{
        
        background-color: #606B9B;
        color: white;
        border-radius: 5px;
        font-size: 25px; 
        font-family: helvetica;

    }

    #next-button{
        
        background-color: #606B9B;
        color: white;
        border-radius: 5px;
        font-size: 25px; 
        font-family: helvetica;

    }


    .input-boxes{

        padding-top: 5%;
        height: 50%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .box{
        height: 100%;
        width: 30%;
        font-size: 20px;
        box-shadow: 0 0 10px #719ECE;
    }
    ::placeholder{
        text-align: center;
        font-size: 30px;
        font-family: helvetica;
    

    }
    .lower-button{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;

    }
    .lower-button-class{
        padding-left: 80%;
        padding-top: 3%;
        align-self: flex-end;

    }

    #save-button{
        background-color: rgb(95, 189, 143);
        color: white;
        border-radius: 5px;
        font-family: helvetica;
    
        
        font-size: 25px; 


    }
    .footer{

        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        background-color: #606B9B;
        font-family: helvetica;
        color: white;
        justify-content: center;
        align-content: center;
        height: 5%;
        width: 100%;
        font-size: 25px;
    

        


    }
    .footer-item{

        align-self: center;
    }
}
